<html>

<head>
    <title>

    </title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
        
        img {
            height: 150px;
            width: 225px;
        }
        .trans{
            transform:scale(1.5);
        }
        /*#poster3{
            top:250px;
            left:100px;

        }*/
    </style>
    <script>
        window.onload = function () {
            var top = document.getElementById("topText");
            var left = document.getElementById("leftText");
            var positioning = document.getElementById("positioning");
            document.getElementById("btnPosition").onclick = function () {
                var img = document.getElementById("poster2");
                img.style.position = positioning.value;
                img.style.left = left.value + "px";
                img.style.top = top.value + "px";
            }
            document.getElementById("poster3").onclick = function () {
                this.classList.add("trans");
            }
        }
    </script>
</head>

<body>
    <table style="width:100%;height:100%;border:1px solid-black;">
        <tr>
            <td style="vertical-align:top;width:80%">
                <img id="poster1" src="../src/poster.jpg" alt="">
                <img id="poster2" src="../src/poster.jpg" alt="">
                <img id="poster3" src="../src/poster.jpg" alt="" style="position:relative">
                <img id="poster4" src="../src/poster.jpg" alt="" style="transform:rotateY(180deg)">
            </td>
            <td style="vertical-align:top;">Left:
                <input type="number" id="leftText"> <br/>Top:
                <input type="number" id="topText"><br/> Position:
                <select name="" id="positioning">
                        <option value="relative">relative</option>
                        <option value="absolute">absolute</option>
                    </select>
                <button id="btnPosition">Update</button>
            </td>
        </tr>
    </table>
</body>

</html>