<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h1>
            Some fictional Company Website
        </h1>
        <nav>
            <a href="Home.html">Document Structure</a>
            <a href="Blog.html">Writing Code</a>
            <a href="About.html">Styles</a>
        </nav>
    </header>
    <article>
        <header>
            <hgroup>
                <h1>Our First new Article</h1>
            </hgroup>
        </header>
        <section>
            <h1>Section 1</h1>
            <p>Some Details about section 1</p>
            <aside>Did you know that 7/10 is 70%</aside>
        </section>
        <section>
            <h1>Section 2</h1>
        </section>
    </article>
    <article>
        <header>
            <hgroup>
                <h1>Second huge article</h1>
            </hgroup>
        </header>
        <p>Provide some useful information in that article</p>
    </article>
    <article>
        <header>
            <hgroup>
                <h1>Third huge article</h1>
            </hgroup>
            <p>Provide some useful information in that article</p>
        </header>
        <p>Provide some useful information in that article</p>
        <figure>
            <img src="orange.jpg" style="width:50px" ;height:50px;" />
            <figcaption>Fig 1:A really juicy orange.</figcaption>
        </figure>
    </article>
    <b><i>Demo for Progress</i></b>
    <article>
        <p>Our goal is to have 1000 users</p>
        <span>0</span>
        <progress value="100" max="1000"></progress>
        <span>1000</span>
    </article>
    <article>
        <p>The Data download is in progress,please wait patiently</p>
        <progress max="1"></progress>
    </article>
    <b><i>Demo for mark</i></b>
    <p>By using mark element we can easily highlight important information or any text you
want to emphasize. It has essentially the same function as a highlighter.</p>
    <p>Some very <mark style="background-color:red;">important</mark> information provided
here!</p>
</body>
</html>
