<html>

<head>
    <title>
        HTML5 Media
    </title>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script>
        window.onload=function(){
            video=document.getElementById("sampleVideo");
        }
        function play(){
           // debugger;
        //   $("#pauseBtn").css("display","none");
            video.play();
            
        }
        
        function pause(){
            //$("#playBtn").css("display","none");
            video.pause();            
        }
        
        function back(){
            video.currentTime -= 4;
        }
         function forward(){
            video.currentTime += 4;
        }
    </script>
</head>

<body>
    <table>
        <tr>
            <td>
                <video id="sampleVideo">
                    <source src="../src/small-video.mp4" type="video/mp4" loop poster="../src/poster.jpg" height="800" width="600">/> Your browser does not support HTML5 video.
                </video>
            </td>
            <td>
                <img id="backButton" title="back" src="../images/backward.png" width="20px" onclick="back()"/> <br/>
                <img id="playBtn" title="play" src="../images/play.png" width="20px" onclick="play()"/><br/>
                <img id="pauseBtn" title="pause" src="../images/pause.png" width="20px" onclick="pause()"/><br/>
                <img id="forwardBtn" title="pause" src="../images/forward.png" width="20px" onclick="forward()"/><br/>

            </td>
        </tr>
    </table>
</body>

</html>